# Ignorar a.out en cualquier carpeta y subcarpeta
**/a.out

# Ignorar ft_putchar.c en cualquier carpeta y subcarpeta
**/ft_putchar.c

# Ignorar main.c en cualquier carpeta y subcarpeta
**/main.c

**/srcs/

**/includes/

**/libft.a

**/sample.txt
